<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dischi Ajax</title>
    <link rel="stylesheet" href="../dist/css/style.css">
</head>
<body>
    <div id="root">

        <header>
            <nav>
                <div class="container d-flex space-between align-center">
                    <img src="../dist/img/logo.png" alt="logo spotify">
                    <div class="music-filter">
                        <label for="genre">Filtra per genere</label>
                        <select name="genre" id="genre" v-model="selectedGenre">
                            <option value="All">Tutti i generi</option>
                        </select>
                        <button @click="filterGenre">Filtra</button>
                    </div>
                </div>
            </nav>
        </header>
    
        <main>
            <div class="container d-flex flex-wrap space-between">
                <!-- music card -->
                <div v-for="disk in disks" class="card">
                    <img :src="disk.poster" :alt="disk.title">
                    <h3>{{disk.title}}</h3>
                    <h4>{{disk.author}}</h4>
                    <h5>{{disk.year}}</h5>
                    <h5>{{disk.genre}}</h5>
                </div>
                
            </div>
        </main>
    </div>

    <script src="../dist/js/app.js"></script>
</body>
</html>